// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$calendar-off-name: 'calendar-off';
$calendar-off-x: 78px;
$calendar-off-y: 30px;
$calendar-off-offset-x: -78px;
$calendar-off-offset-y: -30px;
$calendar-off-width: 22px;
$calendar-off-height: 20px;
$calendar-off-total-width: 128px;
$calendar-off-total-height: 82px;
$calendar-off-image: '../img/sprites.png';
$calendar-off: (78px, 30px, -78px, -30px, 22px, 20px, 128px, 82px, '../img/sprites.png', 'calendar-off', );
$calendar-on-name: 'calendar-on';
$calendar-on-x: 0px;
$calendar-on-y: 62px;
$calendar-on-offset-x: 0px;
$calendar-on-offset-y: -62px;
$calendar-on-width: 22px;
$calendar-on-height: 20px;
$calendar-on-total-width: 128px;
$calendar-on-total-height: 82px;
$calendar-on-image: '../img/sprites.png';
$calendar-on: (0px, 62px, 0px, -62px, 22px, 20px, 128px, 82px, '../img/sprites.png', 'calendar-on', );
$car-off-name: 'car-off';
$car-off-x: 0px;
$car-off-y: 31px;
$car-off-offset-x: 0px;
$car-off-offset-y: -31px;
$car-off-width: 26px;
$car-off-height: 21px;
$car-off-total-width: 128px;
$car-off-total-height: 82px;
$car-off-image: '../img/sprites.png';
$car-off: (0px, 31px, 0px, -31px, 26px, 21px, 128px, 82px, '../img/sprites.png', 'car-off', );
$curr-name: 'curr';
$curr-x: 111px;
$curr-y: 60px;
$curr-offset-x: -111px;
$curr-offset-y: -60px;
$curr-width: 14px;
$curr-height: 20px;
$curr-total-width: 128px;
$curr-total-height: 82px;
$curr-image: '../img/sprites.png';
$curr: (111px, 60px, -111px, -60px, 14px, 20px, 128px, 82px, '../img/sprites.png', 'curr', );
$fb-name: 'fb';
$fb-x: 91px;
$fb-y: 62px;
$fb-offset-x: -91px;
$fb-offset-y: -62px;
$fb-width: 10px;
$fb-height: 20px;
$fb-total-width: 128px;
$fb-total-height: 82px;
$fb-image: '../img/sprites.png';
$fb: (91px, 62px, -91px, -62px, 10px, 20px, 128px, 82px, '../img/sprites.png', 'fb', );
$flight-hotel-off-name: 'flight-hotel-off';
$flight-hotel-off-x: 36px;
$flight-hotel-off-y: 31px;
$flight-hotel-off-offset-x: -36px;
$flight-hotel-off-offset-y: -31px;
$flight-hotel-off-width: 25px;
$flight-hotel-off-height: 20px;
$flight-hotel-off-total-width: 128px;
$flight-hotel-off-total-height: 82px;
$flight-hotel-off-image: '../img/sprites.png';
$flight-hotel-off: (36px, 31px, -36px, -31px, 25px, 20px, 128px, 82px, '../img/sprites.png', 'flight-hotel-off', );
$flight-on-name: 'flight-on';
$flight-on-x: 40px;
$flight-on-y: 0px;
$flight-on-offset-x: -40px;
$flight-on-offset-y: 0px;
$flight-on-width: 28px;
$flight-on-height: 20px;
$flight-on-total-width: 128px;
$flight-on-total-height: 82px;
$flight-on-image: '../img/sprites.png';
$flight-on: (40px, 0px, -40px, 0px, 28px, 20px, 128px, 82px, '../img/sprites.png', 'flight-on', );
$hotel-off-name: 'hotel-off';
$hotel-off-x: 0px;
$hotel-off-y: 0px;
$hotel-off-offset-x: 0px;
$hotel-off-offset-y: 0px;
$hotel-off-width: 30px;
$hotel-off-height: 21px;
$hotel-off-total-width: 128px;
$hotel-off-total-height: 82px;
$hotel-off-image: '../img/sprites.png';
$hotel-off: (0px, 0px, 0px, 0px, 30px, 21px, 128px, 82px, '../img/sprites.png', 'hotel-off', );
$ig-name: 'ig';
$ig-x: 62px;
$ig-y: 62px;
$ig-offset-x: -62px;
$ig-offset-y: -62px;
$ig-width: 19px;
$ig-height: 20px;
$ig-total-width: 128px;
$ig-total-height: 82px;
$ig-image: '../img/sprites.png';
$ig: (62px, 62px, -62px, -62px, 19px, 20px, 128px, 82px, '../img/sprites.png', 'ig', );
$profile-name: 'profile';
$profile-x: 32px;
$profile-y: 62px;
$profile-offset-x: -32px;
$profile-offset-y: -62px;
$profile-width: 20px;
$profile-height: 20px;
$profile-total-width: 128px;
$profile-total-height: 82px;
$profile-image: '../img/sprites.png';
$profile: (32px, 62px, -32px, -62px, 20px, 20px, 128px, 82px, '../img/sprites.png', 'profile', );
$shopping-cart-name: 'shopping-cart';
$shopping-cart-x: 78px;
$shopping-cart-y: 0px;
$shopping-cart-offset-x: -78px;
$shopping-cart-offset-y: 0px;
$shopping-cart-width: 23px;
$shopping-cart-height: 20px;
$shopping-cart-total-width: 128px;
$shopping-cart-total-height: 82px;
$shopping-cart-image: '../img/sprites.png';
$shopping-cart: (78px, 0px, -78px, 0px, 23px, 20px, 128px, 82px, '../img/sprites.png', 'shopping-cart', );
$switch-on-name: 'switch-on';
$switch-on-x: 111px;
$switch-on-y: 31px;
$switch-on-offset-x: -111px;
$switch-on-offset-y: -31px;
$switch-on-width: 16px;
$switch-on-height: 19px;
$switch-on-total-width: 128px;
$switch-on-total-height: 82px;
$switch-on-image: '../img/sprites.png';
$switch-on: (111px, 31px, -111px, -31px, 16px, 19px, 128px, 82px, '../img/sprites.png', 'switch-on', );
$yt-name: 'yt';
$yt-x: 111px;
$yt-y: 0px;
$yt-offset-x: -111px;
$yt-offset-y: 0px;
$yt-width: 17px;
$yt-height: 21px;
$yt-total-width: 128px;
$yt-total-height: 82px;
$yt-image: '../img/sprites.png';
$yt: (111px, 0px, -111px, 0px, 17px, 21px, 128px, 82px, '../img/sprites.png', 'yt', );
$sprites-width: 128px;
$sprites-height: 82px;
$sprites-image: '../img/sprites.png';
$sprites-sprites: ($calendar-off, $calendar-on, $car-off, $curr, $fb, $flight-hotel-off, $flight-on, $hotel-off, $ig, $profile, $shopping-cart, $switch-on, $yt, );
$sprites: (128px, 82px, '../img/sprites.png', $sprites-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
