/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-calendar-off {
  background-image: url(../img/sprites.png);
  background-position: -78px -30px;
  width: 22px;
  height: 20px;
}
.icon-calendar-on {
  background-image: url(../img/sprites.png);
  background-position: 0px -62px;
  width: 22px;
  height: 20px;
}
.icon-car-off {
  background-image: url(../img/sprites.png);
  background-position: 0px -31px;
  width: 26px;
  height: 21px;
}
.icon-curr {
  background-image: url(../img/sprites.png);
  background-position: -111px -60px;
  width: 14px;
  height: 20px;
}
.icon-fb {
  background-image: url(../img/sprites.png);
  background-position: -91px -62px;
  width: 10px;
  height: 20px;
}
.icon-flight-hotel-off {
  background-image: url(../img/sprites.png);
  background-position: -36px -31px;
  width: 25px;
  height: 20px;
}
.icon-flight-on {
  background-image: url(../img/sprites.png);
  background-position: -40px 0px;
  width: 28px;
  height: 20px;
}
.icon-hotel-off {
  background-image: url(../img/sprites.png);
  background-position: 0px 0px;
  width: 30px;
  height: 21px;
}
.icon-ig {
  background-image: url(../img/sprites.png);
  background-position: -62px -62px;
  width: 19px;
  height: 20px;
}
.icon-profile {
  background-image: url(../img/sprites.png);
  background-position: -32px -62px;
  width: 20px;
  height: 20px;
}
.icon-shopping-cart {
  background-image: url(../img/sprites.png);
  background-position: -78px 0px;
  width: 23px;
  height: 20px;
}
.icon-switch-on {
  background-image: url(../img/sprites.png);
  background-position: -111px -31px;
  width: 16px;
  height: 19px;
}
.icon-yt {
  background-image: url(../img/sprites.png);
  background-position: -111px 0px;
  width: 17px;
  height: 21px;
}
