@font-face {font-family: 'CoreSansR15Thin-Italic';src: url('../fonts/CoreSans/328F1C_0_0.eot');src: url('../fonts/CoreSans/328F1C_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_0_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_0_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR65Heavy-Italic';src: url('../fonts/CoreSans/328F1C_1_0.eot');src: url('../fonts/CoreSans/328F1C_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_1_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_1_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR15Thin';src: url('../fonts/CoreSans/328F1C_2_0.eot');src: url('../fonts/CoreSans/328F1C_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_2_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_2_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR65Heavy';src: url('../fonts/CoreSans/328F1C_3_0.eot');src: url('../fonts/CoreSans/328F1C_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_3_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_3_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR25Light';src: url('../fonts/CoreSans/328F1C_4_0.eot');src: url('../fonts/CoreSans/328F1C_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_4_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_4_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR25Light-Italic';src: url('../fonts/CoreSans/328F1C_5_0.eot');src: url('../fonts/CoreSans/328F1C_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_5_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_5_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR35Regular';src: url('../fonts/CoreSans/328F1C_6_0.eot');src: url('../fonts/CoreSans/328F1C_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_6_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_6_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR35Regular-Italic';src: url('../fonts/CoreSans/328F1C_7_0.eot');src: url('../fonts/CoreSans/328F1C_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_7_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_7_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR45Medium';src: url('../fonts/CoreSans/328F1C_8_0.eot');src: url('../fonts/CoreSans/328F1C_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_8_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_8_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR45Medium-Italic';src: url('../fonts/CoreSans/328F1C_9_0.eot');src: url('../fonts/CoreSans/328F1C_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_9_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_9_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR55Bold';src: url('../fonts/CoreSans/328F1C_A_0.eot');src: url('../fonts/CoreSans/328F1C_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_A_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_A_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_A_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR55Bold-Italic';src: url('../fonts/CoreSans/328F1C_B_0.eot');src: url('../fonts/CoreSans/328F1C_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_B_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_B_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_B_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR75Black';src: url('../fonts/CoreSans/328F1C_C_0.eot');src: url('../fonts/CoreSans/328F1C_C_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_C_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_C_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_C_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'CoreSansR75Black-Italic';src: url('../fonts/CoreSans/328F1C_D_0.eot');src: url('../fonts/CoreSans/328F1C_D_0.eot?#iefix') format('embedded-opentype'),url('../fonts/CoreSans/328F1C_D_0.woff2') format('woff2'),url('../fonts/CoreSans/328F1C_D_0.woff') format('woff'),url('../fonts/CoreSans/328F1C_D_0.ttf') format('truetype');}
 
